<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>{{ site.title }}</h3>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#overview" class="mdl-layout__tab is-active">Posts</a>
    <a href="#features" class="mdl-layout__tab">About</a>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="add">
      <img height=32px src="/images/CatLogo.svg">
    </button>
  </div>
</header>