<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>{{ site.title }}</h3>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#overview" class="mdl-layout__tab is-active">Posts</a>
    <a href="#features" class="mdl-layout__tab">About</a>
    <img style="height: 32px;position: absolute;right: 48px;top: 39px;z-index: 999;" src="/images/CatLogo.svg">
  </div>
</header>