<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout__header-row">
    <h3>{{ site.title }}</h3>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#overview" class="mdl-layout__tab is-active">Posts</a>
    <a href="#about" class="mdl-layout__tab">About</a>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ site.title }}</span>
  <nav class="mdl-navigation">
    <a href="#overview" class="mdl-navigation__link">Posts</a>
    <a href="#features" class="mdl-navigation__link">About</a>
  </nav>
</div>